body {
 /*   background: url("../img/test-back-logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;*/
}
.content{

}
.main-container-for-pages{
    background-color: rgba(237, 237, 237, 0.6);
    padding-bottom: 3.2%;
}

.col-md-11,.col-xs-11, .col-sm-11 {
    width: 89.4%;
}
.content-container{
    text-align: center;
    margin-top: 1.2%;
    margin-bottom: 3.2%;
}
.navbar-container{
    z-index: 10;
}


